<div fxLayout="column">
  <form [formGroup]="invoiceItemForm" *ngIf="product" fxFlex="100" fxLayout="column">
    <input type="hidden" formControlName="product">
    <input type="hidden" formControlName="variant">
    <div fxLayout="row" fxLayoutAlign="space-between">
      <mat-form-field fxFlex="48">
        <mat-label>Quantity</mat-label>
        <input matInput formControlName="quantity" required type="number" autocomplete="new-quantity"
          name="new-quantity">
        <mat-error *ngIf="invoiceItemForm.get('quantity').hasError('required')">
          Required.
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="48">
        <mat-label>Price</mat-label>
        <input matInput formControlName="price" required type="tel" autocomplete="new-price" name="new-price">
        <span matSuffix>&#8377;</span>
        <mat-error *ngIf="invoiceItemForm.get('price').hasError('required')">
          Required.
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <button (click)="onRemove()" mat-stroked-button color="warn">Remove</button>
      <button (click)="onCancel()" *ngIf="!invoiceItemForm.dirty" mat-raised-button color="secondary">Cancel</button>
      <button (click)="onSave()" *ngIf="invoiceItemForm.dirty" [disabled]="!invoiceItemForm.valid" mat-raised-button
        color="primary">Save</button>
    </div>
  </form>
</div>
<app-spinner *ngIf="showSpinner"></app-spinner>