<div *ngIf="invoice" fxLayout="column">
  <mat-expansion-panel [class.mat-elevation-z5]="true">
    <mat-expansion-panel-header>
      Invoice # {{ invoice.code }}
    </mat-expansion-panel-header>
    <p> {{ invoice.updatedAt | timeAgo }}</p>
    <button *ngIf="!invoice.completedAt" (click)="onDelete()" mat-stroked-button color="warn">
      Delete this Invoice
    </button>
  </mat-expansion-panel>
  <br>
  <mat-expansion-panel [class.mat-elevation-z5]="true">
    <mat-expansion-panel-header>
      Customer : {{ customer.name }}
    </mat-expansion-panel-header>
    <p> # {{ customer.code }}</p>
    <div *ngIf="customer.address">
      <p class="mat-header-cell">Address</p>
      <p *ngIf="customer.address.street">{{ customer.address.street }},</p>
      <p *ngIf="customer.address.locality">{{ customer.address.locality }},</p>
      <p *ngIf="customer.address.city">{{ customer.address.city }} - {{ customer.address.zip }},</p>
      <p *ngIf="customer.address.state">{{ customer.address.state }}.</p>
    </div>
  </mat-expansion-panel>
  <br>
  <div fxLayout="row" fxLayoutAlign="space-between">
    <p fxFlex="1 0 70%" class="mat-subheading-1">Particulars</p>
    <button (click)="onAddItem()" *ngIf="!invoice.completedAt" mat-stroked-button color="primary"> Add Item
    </button>
  </div>
  <br>
  <mat-divider></mat-divider>
  <br>
  <mat-accordion [multi]="true">
    <mat-expansion-panel *ngFor="let item of invoice.items; let i = index" [class.mat-elevation-z1]="true"
      [expanded]="true" [hideToggle]="true">
      <mat-expansion-panel-header>
        # {{ i + 1 }}
      </mat-expansion-panel-header>
      <app-invoice-item [invoice]="invoice" [item]="item"></app-invoice-item>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<app-spinner *ngIf="showSpinner"></app-spinner>