<div *ngIf="product">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <p class="mat-display-1"> {{ product.name }}</p>
    <div>
      <button mat-icon-button [matMenuTriggerFor]="productMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #productMenu="matMenu">
        <a mat-menu-item routerLink="/product/{{ product.id }}/edit">
          Edit
        </a>
        <a mat-menu-item routerLink="/product/{{ product.id }}/variant/create">
          Add Variant
        </a>
        <a mat-menu-item routerLink="/product/{{ product.id }}/stock">
          Adjust Stock
        </a>
        <mat-divider></mat-divider>
        <button (click)="onDelete(product)" mat-menu-item>Delete</button>
      </mat-menu>
    </div>
  </div>
  <div fxlayout="column">
    <p class="mat-title">Product Information</p>
    <p>Code: # {{ product.code }}</p>
    <p>HSN / SAC: {{ product.slab?.hsn }} ({{ product.slab?.name }})</p>
    <p>Measured in: {{ product.unit }}</p>
    <p>
      <mat-divider></mat-divider>
    </p>
    <p class="mat-title">Product Variants</p>
    <mat-nav-list>
      <a *ngFor="let variant of product.variants" routerLink="/product/{{product.id}}/variant/{{variant.id}}/edit"
        mat-list-item>
        <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between">
          <p>{{ variant.size }} {{ product.unit }}</p>
          <p>{{ variant.price }} &#8377;</p>
        </div>
      </a>
    </mat-nav-list>
    <p>
      <mat-divider></mat-divider>
    </p>
    <p>
      <a routerLink="/product" mat-stroked-button>Back to Search</a>
    </p>
  </div>
</div>
<app-spinner *ngIf="showSpinner"></app-spinner>