<div *ngIf="product">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <p class="mat-display-1"> {{ product.name }}</p>
    <div>
      <button mat-icon-button [matMenuTriggerFor]="productMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #productMenu="matMenu">
        <a mat-menu-item routerLink="/product/{{ product.id }}/edit">
          Edit
        </a>
        <a mat-menu-item routerLink="/product/{{ product.id }}/images">
          Images
        </a>
        <a mat-menu-item routerLink="/product/{{ product.id }}/variant/create">
          Add Variant
        </a>
        <a mat-menu-item routerLink="/product/{{ product.id }}/stock">
          Adjust Stock
        </a>
        <mat-divider></mat-divider>
        <button (click)="onDelete(product)" mat-menu-item>Delete</button>
      </mat-menu>
    </div>
  </div>
  <div fxlayout="column">
    <p class="mat-title">Product Information</p>
    <p>Short Name: {{ product.category }}</p>
    <p>Code: # {{ product.code }}</p>
    <p>Size: {{ product.size }} {{ product.unit }}</p>
    <p>
      <mat-divider></mat-divider>
    </p>
    <p class="mat-title">Product Variants</p>
    <mat-nav-list>
      <a mat-list-item>
        <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between">
          <p class="mat-header-cell" fxFlex="58">Name</p>
          <p class="mat-header-cell" style="text-align: center;" fxFlex="13">Stock</p>
          <p class="mat-header-cell" style="text-align: right;" fxFlex="15">Price</p>
        </div>
      </a>
      <a *ngFor="let variant of product.variants" routerLink="/product/{{product.id}}/variant/{{variant.id}}/edit"
        mat-list-item>
        <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between">
          <p fxFlex="58">{{ variant.size }} {{ product.unit }}</p>
          <p style="text-align: center;" fxFlex="13">{{ variant.quantity }}</p>
          <p style="text-align: right;" fxFlex="15">&#8377;{{ variant.price }}</p>
        </div>
      </a>
    </mat-nav-list>
    <p>
      <mat-divider></mat-divider>
    </p>
    <p>
      <a routerLink="/product" mat-stroked-button>Back to Search</a>
    </p>
  </div>
</div>
<app-spinner *ngIf="showSpinner"></app-spinner>