<form [formGroup]="productForm" fxLayout="column">
  <input formControlName="id" type="hidden">
  <input formControlName="code" type="hidden">
  <input formControlName="createdAt" type="hidden">
  <p class="mat-subheading-1">Product</p>
  <mat-form-field appearance="outline">
    <mat-label>Brand</mat-label>
    <mat-select formControlName="brand">
      <mat-option *ngFor="let item of brandList" [value]="item.key">
        {{ item.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" required autocomplete="none">
    <mat-error> Required. </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Short Name</mat-label>
    <input matInput formControlName="category" required autocomplete="none"
      oninput="this.value = this.value.toUpperCase()">
    <mat-error> Required. </mat-error>
  </mat-form-field>
  <div fxLayout="row" fxLayoutAlign="space-between">
    <mat-form-field appearance="outline" fxFlex="48">
      <mat-label>Size</mat-label>
      <input matInput type="number" formControlName="size" autocomplete="none">
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex="48">
      <mat-label>Unit</mat-label>
      <mat-select formControlName="unit" ngDefaultControl>
        <mat-option *ngFor="let option of unitList" [value]="option.key">
          {{ option.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div>
      <a *ngIf="editId" routerLink="/product/{{editId}}/view" mat-stroked-button>Cancel</a>
    </div>
    <button (click)="onSave()" [disabled]="!productForm.dirty || !productForm.valid" mat-raised-button
      color="primary">Save</button>
  </div>
</form>
<app-spinner *ngIf="showSpinner"></app-spinner>