<form [formGroup]="productForm" fxLayout="column">
  <input formControlName="id" type="hidden">
  <input formControlName="createdAt" type="hidden">
  <p class="mat-subheading-1">Product</p>
  <mat-form-field appearance="outline">
    <mat-label>Brand</mat-label>
    <mat-select formControlName="brand">
      <mat-option *ngFor="let item of brandList" [value]="item.key">
        {{ item.value }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="productForm.get('slab').hasError('required')">
      Required.
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" required autocomplete="none">
    <mat-error *ngIf="productForm.get('name').hasError('required')">
      Required.
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Tax Slab</mat-label>
    <mat-select formControlName="slab">
      <mat-option [value]="slab" *ngIf="slab" style="display: none">
        {{ slab.name }} ({{ slab.hsn }})
      </mat-option>
      <mat-option *ngFor="let item of slabList" [value]="item" [compareWith]="idCompare">
        {{ item.name }} ({{ item.hsn }})
      </mat-option>
    </mat-select>
    <mat-error *ngIf="productForm.get('slab').hasError('required')">
      Required.
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Unit</mat-label>
    <mat-select formControlName="unit" ngDefaultControl>
      <mat-option *ngFor="let option of unitList" [value]="option.key">
        {{ option.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div>
      <a *ngIf="editId" routerLink="/product/{{editId}}/view" mat-stroked-button>Cancel</a>
    </div>
    <button (click)="onSave()" [disabled]="!productForm.dirty || !productForm.valid" mat-raised-button
      color="primary">Save</button>
  </div>
</form>
<app-spinner *ngIf="showSpinner"></app-spinner>