<mat-list>
  <mat-list-item>
    <a routerLink="create" mat-stroked-button color="primary">
      New Supplier <mat-icon>add</mat-icon>
    </a>
  </mat-list-item>
  <div mat-subheader>All Suppliers</div>
  <mat-nav-list>
    <a routerLink="/supplier/{{supplier.id}}/edit" mat-list-item *ngFor="let supplier of suppliers">
      {{ supplier.name }}
      <mat-divider></mat-divider>
    </a>
    <mat-list-item *ngIf="!suppliers.length">
      <p mat-line> There are no suppliers.</p>
    </mat-list-item>
  </mat-nav-list>
</mat-list>
<app-spinner *ngIf="showSpinner"></app-spinner>