<div fxLayout="column">
  <p>New Purchase From</p>
  <form [formGroup]="purchaseForm" fxLayout="column">
    <mat-form-field appearance="outline">
      <mat-label>Purchasing From</mat-label>
      <mat-select formControlName="supplier" placeholder="Supplier">
        <mat-option *ngFor="let supplier of suppliers" [value]="supplier">
          {{ supplier.name }}
        </mat-option>
      </mat-select>
      <mat-error> Required. </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex="100">
      <mat-label>Purchased On</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" required [max]="today">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error>Required.</mat-error>
    </mat-form-field>
    <div fxLayoutAlign="end">
      <button (click)="onSubmit()" mat-raised-button color="primary"> Create Purchase </button>
    </div>
  </form>
</div>
<div fxLayout="column" *ngIf="!!supplier">  
  <br>
  <p>Selected Supplier Details</p>
  <p class="mat-title">#{{ supplier.code }} {{ supplier.name }}</p>
  <p>GST no: {{ supplier.gstin }}</p>
  <div fxLayout="column">
    <p class="mat-header-cell">Address</p>
    <p>{{ supplier.location }},</p>
    <p>{{ supplier.phone }},</p>
    <p>{{ supplier.email }}</p>
  </div>
  <br>
  <br>
</div>
<app-spinner *ngIf="showSpinner"></app-spinner>