<div *ngIf="isEditMode">
  <app-quote-item-form [quote]="quote" [item]="item" (save)="isEditMode = false"></app-quote-item-form>
</div>
<div *ngIf="!isEditMode && item.product" fxLayout="column">
  <ng-container *ngIf="!quote.hideTax">
    <div fxLayout="row" fxLayoutAlign="space-between">
      <p>Price Per Unit ({{ item.variant.name }})</p>
      <p>&#8377;{{ item.variant.price | number : '.2-2' }}</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <p>Taxable Amount</p>
      <p>&#8377;{{ getTaxableAmount() | number : '.2-2' }}</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <p>Tax ({{ item.product?.slab?.cgst }} / {{ item.product?.slab?.sgst }} %)</p>
      <p>&#8377;{{ getTaxAmount() | number : '.2-2' }}</p>
    </div>
  </ng-container>
  <div fxLayoutAlign="end" *ngIf="!quote.completedAt">
    <button (click)="isEditMode = true" mat-stroked-button color="primary">Modify</button>
  </div>
</div>