<div fxLayout="column">
  <mat-card class="product-image-card" *ngFor="let image of showcasedImages" fxLayout="column">
    <img mat-card-image [src]="image.downloadURL">
    <div fxFlex="100" fxLayoutAlign="space-between center">
      <mat-card-header>
        <mat-card-title>{{ image.name }}</mat-card-title>
      </mat-card-header>
      <button mat-icon-button (click)="onDelete(image)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card>
</div>
<div *ngIf="showcasedImages.length == 0">
  <p>There is no showcased images.</p>
</div>
<app-spinner *ngIf="showSpinner"></app-spinner>