<div *ngIf="customer">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <p class="mat-display-1"> {{ customer.name }}</p>
    <div>
      <button mat-icon-button [matMenuTriggerFor]="customerMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #customerMenu="matMenu">
        <button mat-menu-item (click)='onSetDiscount()'>
          Set Discount
        </button>
        <a mat-menu-item routerLink="/customer/{{ customer.id }}/customer-new-invoice">
          New Invoice
        </a>
        <a mat-menu-item routerLink="/customer/{{ customer.id }}/customer-invoice">
          Find Invoices
        </a>
        <a mat-menu-item routerLink="/customer/{{ customer.id }}/edit">
          Edit
        </a>
        <mat-divider></mat-divider>
        <button (click)="onDelete()" mat-menu-item>Delete</button>
      </mat-menu>
    </div>
  </div>
  <div fxlayout="column">
    <p>{{ customer.storeName }}</p>
    <h4>C{{ customer.code | number: '3.0' }}</h4>
    <p class="mat-title">Contact Information</p>
    <p>{{ customer.phone }}</p>
    <p>{{ customer.email }}</p>
    <p>Discount: {{ customer.discount || 0 }} %</p>
    <p>
      <mat-divider></mat-divider>
    </p>
    <p class="mat-title">Address Information</p>
    <ng-container *ngIf="customer.address">
      <p *ngIf="customer.address.street">{{ customer.address.street }},</p>
      <p *ngIf="customer.address.locality">{{ customer.address.locality }},</p>
      <p *ngIf="customer.address.city">{{ customer.address.city }} - {{ customer.address.zip }},</p>
      <p *ngIf="customer.address.state">{{ customer.address.state }}.</p>
    </ng-container>
    <p>
      <mat-divider></mat-divider>
    </p>
    <p class="mat-title">Active Invoices</p>
    <mat-list>
      <mat-list-item *ngFor="let invoice of activeInvoices" (click)="gotoInvoice(invoice)">
        <p mat-line> {{ invoice.code }} ({{ invoice.items?.length || 0 }} items)</p>
        <p mat-line> {{ invoice.updatedAt | timeAgo }} </p> 
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
    <br>
    <p>
      <a routerLink="/customer" mat-stroked-button>Back to Search</a>
    </p>
  </div>
</div>
<app-spinner *ngIf="showSpinner"></app-spinner>