<form [formGroup]="productVariantForm" fxLayout="column" *ngIf="product">
  <input formControlName="id" type="hidden">
  <input formControlName="createdAt" type="hidden">
  <input formControlName="quantity" type="hidden">
  <p class="mat-subheading-1">Product Variant</p>
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" required name="productVariantName"
      autocomplete="new-product-variant-name">
    <mat-error> Required. </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Size</mat-label>
    <input matInput formControlName="size" required type="number" name="productVariantSize"
      autocomplete="new-product-variant-size">
    <span matSuffix>{{product.unit}}</span>
    <mat-error> Required. </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Selling Price / Dealer Price</mat-label>
    <input matInput formControlName="price" required type="number" name="productVariantPrice"
      autocomplete="new-product-variant-price">
    <span matSuffix>&#8377;</span>
    <mat-error> Required. </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Buying Price</mat-label>
    <input matInput formControlName="buyingPrice" required type="number" name="productVariantBuyingPrice"
      autocomplete="new-product-variant-buying-price">
    <span matSuffix>&#8377;</span>
    <mat-error> Required. </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Retail Price</mat-label>
    <input matInput formControlName="retailPrice" required type="number" name="productVariantRetailPrice"
      autocomplete="new-product-variant-dealer-price">
    <span matSuffix>&#8377;</span>
    <mat-error> Required. </mat-error>
  </mat-form-field>
  <br>
  <div fxLayout="row" fxLayoutAlign="space-between" style="margin-bottom: 12px;">
    <div>
      <a *ngIf="product.id" routerLink="/product/{{product.id}}/view" mat-stroked-button>Cancel</a>
    </div>
    <button (click)="onSave()" [disabled]="!productVariantForm.dirty || !productVariantForm.valid" mat-raised-button
      color="primary">Save</button>
  </div>
  <p>
    <mat-divider></mat-divider>
  </p>
  <div fxLayout="row" fxLayoutAlign="space-between">
    <a *ngIf="!!variant" (click)="onDelete()" mat-stroked-button color="warn">Delete</a>
  </div>
</form>
<app-spinner *ngIf="showSpinner"></app-spinner>