<mat-list>
  <mat-list-item>
    <a routerLink="create" mat-stroked-button color="primary">
      New Product <mat-icon>add</mat-icon>
    </a>
  </mat-list-item>
  <mat-list-item>
    <app-product-picker *ngIf="showProductPicker" (cancel)="showProductPicker = false"
      (productPick)="onProductPick($event)"></app-product-picker>
    <button (click)="showProductPicker = true" mat-stroked-button color="primary">
      Find Product
    </button>
  </mat-list-item>
  <div mat-subheader>Recently Added</div>
  <mat-nav-list>
    <a routerLink="/product/{{product.id}}/view" mat-list-item *ngFor="let product of recents">
      {{ product.name }}
      <mat-divider></mat-divider>
    </a>
    <mat-list-item *ngIf="!recents.length">
      <p mat-line> There are no products.</p>
    </mat-list-item>
  </mat-nav-list>
</mat-list>
<app-spinner *ngIf="showSpinner"></app-spinner>