<div fxLayout="column">
  <ng-container *ngFor="let product of products">
    <div class="mat-header-cell">{{ product.brand }} - {{ product.name }}</div>
    <div fxLayout="row wrap" fxFlex="100">
      <div fxFlex="25" fxFlex.lt-md="100" *ngFor="let variant of product.variants">
        <mat-card>
          <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxFlex="69">
              <div>{{ variant.name }}</div>
            </div>
            <div fxFlex="29">
              <button mat-stroked-button color="primary" (click)="onVariantSelect(product, variant)">
                <span [class.low]="variant.quantity < 5">{{ variant.quantity }}</span>
              </button>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </ng-container>
</div>
<app-spinner *ngIf="showSpinner"></app-spinner>