<app-toolbar (menuClick)="sidenav.toggle()"></app-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" class="app-sidenav">
    <mat-nav-list>
      <div mat-subheader>Menu</div>
      <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
          Sale
        </mat-expansion-panel-header>
        <mat-nav-list dense>
          <a (click)="sidenav.toggle()" mat-list-item routerLink="/invoice">
            <mat-icon>receipt</mat-icon> Invoice
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
      <div mat-subheader>Settings</div>
      <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
          Resources
        </mat-expansion-panel-header>
        <mat-nav-list dense>
          <a (click)="sidenav.toggle()" mat-list-item routerLink="/customer">
            <mat-icon>account_box</mat-icon> Customers
          </a>
          <a (click)="sidenav.toggle()" mat-list-item routerLink="/supplier">
            <mat-icon>local_shipping</mat-icon> Suppliers
          </a>
          <a (click)="sidenav.toggle()" mat-list-item routerLink="/product">
            <mat-icon>shopping_cart</mat-icon> Products
          </a>
          <a (click)="sidenav.toggle()" mat-list-item routerLink="/pack">
            <mat-icon>inventory_2</mat-icon> Packs
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
          Account
        </mat-expansion-panel-header>
        <mat-nav-list dense>
          <a (click)="sidenav.toggle()" mat-list-item routerLink="/company">
            <mat-icon>business</mat-icon> Company
          </a>
          <a (click)="sidenav.toggle();onLogout()" mat-list-item>
            <mat-icon>logout</mat-icon> Logout
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div fxLayout="row" fxLayoutAlign="center start" class="app-container">
      <div class="app-page">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-spinner *ngIf="showSpinner"></app-spinner>