<div *ngIf="purchase" fxLayout="column">
  <div fxFlex="row" fxLayoutAlign="space-between" fxFlex="100">
    <mat-expansion-panel [class.mat-elevation-z5]="true" fxFlex="48" style="height: max-content;">
      <mat-expansion-panel-header>
        {{ purchase.code }}
      </mat-expansion-panel-header>
      <p>Purchased on:</p>
      <p><b>{{ displayDate(purchase.date) }}</b></p>
      <p>last updated at:</p>
      <p><b>{{ purchase.updatedAt | timeAgo }}</b></p>
      <ng-container *ngIf="!purchase.completedAt">
        <br>
        <button *ngIf="!purchase.completedAt" (click)="onDelete()" mat-stroked-button color="warn">
          Delete
        </button>
      </ng-container>
    </mat-expansion-panel>
    <mat-expansion-panel [class.mat-elevation-z5]="true" fxFlex="48" style="height: max-content;">
      <mat-expansion-panel-header>
        {{ supplier.name }}
      </mat-expansion-panel-header>
      <p> # {{ supplier.code }}</p>
      <p *ngIf="!!supplier.gstin">gst:  {{ supplier.gstin }}</p>
      <div>
        <p class="mat-header-cell">Address</p>
        <p>{{ supplier.location }},</p>
        <p>{{ supplier.phone }},</p>
        <p>{{ supplier.email }}</p>
      </div>
    </mat-expansion-panel>
  </div>
  <br>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <span fxFlex="1 0 70%">Particulars</span>
    <button (click)="onProductSearchOpen()" *ngIf="!purchase.completedAt" mat-stroked-button color="primary"> Add Item
    </button>
  </div>
  <br>
  <mat-divider ></mat-divider>
  <br>
  <div fxLayout="row" fxLayoutAlign="space-between" fxFlex="100" style="padding:0 24px;color: #9a9a9a">
    <div fxFlex="8">#</div>
    <div fxFlex="60">Product</div>
    <div fxFlex="4">Qty</div>
    <div fxFlex="25" style="text-align: right;">Amount</div>
  </div>
  <br>
  <mat-accordion [multi]="true">
    <mat-expansion-panel *ngFor="let item of purchase.items; let i = index" [class.mat-elevation-z1]="true"
      [expanded]="isIncompleteItem(item)" [hideToggle]="true">
      <mat-expansion-panel-header class="purchase-item-header">
        <div fxLayout="row" fxLayoutAlign="space-between" fxFlex="100">
          <div fxFlex="8">
            <span style="color: #9a9a9a">{{ (i + 1).toString().padStart(2, '0') }}</span>            
          </div>
          <div fxFlex="60" *ngIf="!isIncompleteItem(item)">
            {{ item.variant?.name }} <br> <small>{{ item.product?.name }}</small>
          </div>
          <div fxFlex="60" *ngIf="isIncompleteItem(item)">
            <span style="color: red">{{ item.variant?.name }}</span>
            <br> <small>{{ item.product?.name }}</small>
          </div>
          <div fxFlex="4">{{ item.quantity }}</div>
          <div fxFlex="25" style="text-align: right;">&#8377;{{ item.price | number : '.2-2' }}</div>
        </div>
      </mat-expansion-panel-header>
      <app-purchase-item [purchase]="purchase" [item]="item"></app-purchase-item>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="purchase.items?.length" [class.mat-elevation-z1]="true"
      [expanded]="false" [hideToggle]="true">
      <mat-expansion-panel-header class="purchase-item-header">
        <div fxLayout="row" fxLayoutAlign="space-between" fxFlex="100">
          <div>Total</div>
          <div style="text-align: right;">&#8377;{{ (purchase.total || 0) | number : '.2-2' }}</div>
        </div>
      </mat-expansion-panel-header>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <p>Taxable Amount</p>
        <p>&#8377;{{ getTaxableAmount() | number : '.2-2' }}</p>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <p>Total Tax</p>
        <p>&#8377;{{ getTaxAmount() | number : '.2-2' }}</p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <br>
  <mat-divider></mat-divider>
  <br>
  <ng-container *ngIf="!purchase.completedAt">
    <div fxLayoutAlign="space-between" *ngIf="purchase.items?.length">
      <button (click)="onComplete()" [disabled]="!canComplete()" mat-raised-button color="primary">Complete</button>
      <button (click)="onProductSearchOpen()" *ngIf="!purchase.completedAt" mat-stroked-button color="primary"> Add Item
      </button>
    </div>
  </ng-container>
</div>
<app-product-picker *ngIf="showProductSearch" (cancel)="onProductSearchCancel()"
  (productPick)="onProductPick($event)"></app-product-picker>
<app-spinner *ngIf="showSpinner"></app-spinner>