<div *ngIf="quote" #content>
  <div class="no-print" size="A4">
    <div style="display: flex; justify-content: center;">
      <button onclick="window.close()" class="no-print close-button">
        Click here to close print window
      </button>
    </div>
  </div>
  <div class="page" size="A4">
    <div style="display: flex; justify-content: space-between;">
      <div class="left-50">
        <div class="dark-header">Quoted To:</div>
        <div class="content">
          <span> {{ quote.customer.name }}</span> <br>
          <span> {{ quote.customer.address.street }}, {{ quote.customer.address.city }}</span> <br>
          <span> {{ quote.customer.address.state }} - {{ quote.customer.address.zip }}</span> <br>
          <span><b>State Code:</b> 33</span> <br>
        </div>

      </div>
      <div class="right-50">
        <ng-container *ngIf="company">
          <div class="dark-header">Quoted By:</div>
          <div class="content">
            <p class="company-name"><b>{{ company.name }}</b></p>
            <span> Phone: {{ company.phone }} <span *ngIf="company.email">| Email: {{ company.email }}</span></span>
            <br>
          </div>
        </ng-container>
        <div class="light-header">Quote Details:</div>
        <div class="content">
          <span>Quote Number: {{ quote.code }}</span> <br>
          <span>Quote Date: {{ displayDate(quote.completedAt) }}</span> <br>
          <span>Place of Supply: {{ quote.customer.address.state }}</span>
        </div>
      </div>
    </div>
    <div class="particulars" *ngIf="quote.items?.length > 0">
      <table style="width: 100%;">
        <thead>
          <tr>
            <th class="align-left" width="3mm">#</th>
            <th class="align-left">Description</th>
            <th style="width: 4mm">Qty</th>
            <th style="width: 18mm">Price / Unit</th>
            <th *ngIf="isTaxQuote" style="width: 14mm">Taxable <br> Amount</th>
            <th *ngIf="isTaxQuote" style="width: 14mm">CGST</th>
            <th *ngIf="isTaxQuote" style="width: 14mm">SGST</th>
            <th style="width: 14mm">Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of quote.items; let i = index">
            <td class="align-left" style="width: 4mm">{{ (i + 1).toString().padStart(2, '0') }}</td>
            <td class="align-left">
              {{ item.product.name }}
              ({{ item.variant.name }} {{ item.variant.size }} {{ item.product.unit }})
            </td>
            <td style="width: 4mm">{{ item.quantity }}</td>
            <td style="width: 18mm">&#8377;{{ item.variant.price | number: '.2-2' }}</td>
            <td *ngIf="isTaxQuote" style="width: 14mm">
              &#8377;{{ (item.price - (item.sgst + item.cgst)) | number: '.2-2' }}
            </td>
            <td *ngIf="isTaxQuote" style="width: 14mm">
              &#8377;{{ item.cgst | number: '.2-2' }} <br> ({{ item.product.slab.cgst }} %)
            </td>
            <td *ngIf="isTaxQuote" style="width: 14mm">
              &#8377;{{ item.sgst | number: '.2-2' }} <br> ({{ item.product.slab.sgst }} %)
            </td>
            <td style="width: 14mm">&#8377;{{ item.price | number: '.2-2' }}</td>
          </tr>
          <tr>
            <th class="align-left" width="3mm">--</th>
            <th class="align-left">Total</th>
            <th style="width: 4mm">{{ getTotalQuantity() }}</th>
            <th style="width: 18mm"></th>
            <th *ngIf="isTaxQuote" style="width: 14mm">
              &#8377;{{ (quote.total - (quote.totalCgst + quote.totalSgst)) | number: '.2-2' }}
            </th>
            <th *ngIf="isTaxQuote" style="width: 14mm">&#8377;{{ quote.totalCgst | number: '.2-2' }}</th>
            <th *ngIf="isTaxQuote" style="width: 14mm">&#8377;{{ quote.totalSgst | number: '.2-2' }}</th>
            <th style="width: 14mm">&#8377;{{ quote.subTotal | number: '.2-2' }}</th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="totals">
      <div class="left-50">
        <div class="dark-header">Quote Amount in words</div>
        <div class="content">
          <span style="text-transform: capitalize;">{{ totalInWords() }}</span>
        </div>
      </div>
      <div class="right-50">
        <div class="dark-header">Amounts</div>
        <div class="amount-item" *ngIf="quote.hasDiscount">
          <span>Discount ({{ quote.discount }}%)</span>
          <span>&#8377;{{ quote.discountAmount | number: '.2-2' }}</span>
        </div>
        <div class="amount-item">
          <span>Sub Total</span>
          <span>&#8377;{{ quote.total | number: '.2-2' }}</span>
        </div>
        <div class="amount-item bb-1">
          <span>Round off</span>
          <span>- &#8377;{{ getRoundoff() | number: '.2-2' }}</span>
        </div>
        <div class="amount-item">
          <span><b>Total</b></span>
          <span><b>&#8377;{{ getTotal() | number: '.2-2' }}</b></span>
        </div>
      </div>
    </div>
  </div>
</div>