<div fxLayout="column">
  <form [formGroup]="proformaItemForm" *ngIf="product" fxFlex="100" fxLayout="column">
    <input type="hidden" formControlName="product">
    <div fxLayout="row" fxLayoutAlign="space-between">      
    <mat-form-field fxFlex="48">
      <mat-select formControlName="variant" placeholder="Variant">
        <mat-option [value]="variant" *ngIf="variant" style="display: none">
          {{ variant.size }} {{ product.unit }}
        </mat-option>
        <mat-option *ngFor="let item of variantList" [value]="item" [compareWith]="idCompare">
          {{ item.size }} {{ product.unit }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="proformaItemForm.get('variant').hasError('required')">
        Required.
      </mat-error>
    </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <mat-form-field fxFlex="48">
        <mat-label>Quantity</mat-label>
        <input matInput formControlName="quantity" required type="number" autocomplete="new-quantity"
          name="new-quantity">
        <mat-error *ngIf="proformaItemForm.get('quantity').hasError('required')">
          Required.
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="48">
        <mat-label>Price</mat-label>
        <input matInput formControlName="price" required type="tel" autocomplete="new-price" name="new-price">
        <span matSuffix>&#8377;</span>
        <mat-error *ngIf="proformaItemForm.get('price').hasError('required')">
          Required.
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <button (click)="onRemove()" mat-stroked-button color="warn">Remove</button>
      <button (click)="onCancel()" *ngIf="!proformaItemForm.dirty" mat-raised-button
        color="secondary">Cancel</button>
      <button (click)="onSave()" *ngIf="proformaItemForm.dirty" [disabled]="!proformaItemForm.valid" mat-raised-button
        color="primary">Save</button>
    </div>
  </form>
</div>
<app-spinner *ngIf="showSpinner"></app-spinner>