<div *ngIf="invoice && company" #content>
  <div class="no-print" size="A4">
    <div style="display: flex; justify-content: center;">
      <button onclick="window.close()" class="no-print close-button">
        Click here to close print window
      </button>
    </div>
  </div>
  <div class="page" size="A4">
    <div style="display: flex; justify-content: space-between;">
      <div class="left-50">
        <div class="dark-header">Sold By:</div>
        <div class="content">
          <p class="company-name"><b>{{ company.name }}</b></p>
          <span> {{ company.address.street }}, {{ company.address.city }}</span> <br>
          <span> {{ company.address.state }} - {{ company.address.zip }}</span> <br>
          <span> Email: {{ company.email }}</span> <br>
          <span> Gst No: {{ company.gstin }} </span> <br>
          <span><b>State Code:</b> 33</span> <br>
        </div>
      </div>
      <div class="right-50">
        <div class="dark-header">Billed To:</div>
        <div class="content">
          <span> {{ invoice.customer.name }}</span> <br>
          <span> {{ invoice.customer.address.street }}, {{ invoice.customer.address.city }}</span> <br>
          <span> {{ invoice.customer.address.state }} - {{ invoice.customer.address.zip }}</span> <br>
          <span><b>State Code:</b> 33</span> <br>
        </div>
        <div class="light-header">Invoice Details:</div>
        <div class="content">
          <span>Invoice Number: {{ invoice.code }}</span> <br>
          <span>Invoice Date: {{ invoice.completedAt }}</span> <br>
          <span>Place of Supply: {{ invoice.customer.address.state }}</span>
        </div>
      </div>
    </div>
    <div class="particulars" *ngIf="invoice.items?.length > 0">
      <table style="width: 100%;">
        <thead>
          <tr>
            <th class="align-left" width="5mm">#</th>
            <th class="align-left">Description</th>
            <th style="width: 7mm">Qty</th>
            <th style="width: 25mm">Price / Unit</th>
            <th *ngIf="isTaxInvoice" style="width: 20mm">Taxable <br> Amount</th>
            <th *ngIf="isTaxInvoice" style="width: 20mm">CGST</th>
            <th *ngIf="isTaxInvoice" style="width: 20mm">SGST</th>
            <th style="width: 20mm">Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of invoice.items; let i = index">
            <td class="align-left" style="width: 7mm">{{ (i + 1).toString().padStart(2, '0') }}</td>
            <td class="align-left">
              {{ item.product.name }}
              ({{ item.variant.size }} {{ item.product.unit }} * {{ item.pack.count}}pkts)
            </td>
            <td style="width: 7mm">{{ item.quantity }}</td>
            <td style="width: 25mm">&#8377;{{ item.pack.price | number: '.2-2' }} <br> ({{ item.pack.name }})</td>
            <td *ngIf="isTaxInvoice" style="width: 20mm">
              &#8377;{{ (item.price - (item.sgst + item.cgst)) | number: '.2-2' }}
            </td>
            <td *ngIf="isTaxInvoice" style="width: 20mm">
              &#8377;{{ item.cgst | number: '.2-2' }} <br> ({{ item.product.slab.cgst }} %)
            </td>
            <td *ngIf="isTaxInvoice" style="width: 20mm">
              &#8377;{{ item.sgst | number: '.2-2' }} <br> ({{ item.product.slab.sgst }} %)
            </td>
            <td style="width: 20mm">&#8377;{{ item.price | number: '.2-2' }}</td>
          </tr>
          <tr>
            <th class="align-left" width="5mm">--</th>
            <th class="align-left">Total</th>
            <th style="width: 7mm">{{ getTotalQuantity() }}</th>
            <th style="width: 25mm"></th>
            <th *ngIf="isTaxInvoice" style="width: 20mm">
              &#8377;{{ (invoice.total - (invoice.totalCgst + invoice.totalSgst)) | number: '.2-2' }}
            </th>
            <th *ngIf="isTaxInvoice" style="width: 20mm">&#8377;{{ invoice.totalCgst | number: '.2-2' }}</th>
            <th *ngIf="isTaxInvoice" style="width: 20mm">&#8377;{{ invoice.totalSgst | number: '.2-2' }}</th>
            <th style="width: 20mm">&#8377;{{ invoice.total | number: '.2-2' }}</th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="totals">
      <div class="left-50">
        <div class="dark-header">Invoice Amount in words</div>
        <div class="content">
          <span style="text-transform: capitalize;">{{ totalInWords() }}</span>
        </div>
        <div class="light-header">Signature</div>
        <div class="content">
          <div>for, {{ company.name }}</div>
          <br>
          <br>
          <br>
          <div>Authorized Signatory</div>
        </div>
      </div>
      <div class="right-50">
        <div class="dark-header">Amounts</div>
        <div class="amount-item">
          <span>Sub Total</span>
          <span>&#8377;{{ invoice.total | number: '.2-2' }}</span>
        </div>
        <div class="amount-item bb-1">
          <span>Round off</span>
          <span>- &#8377;{{ getRoundoff() | number: '.2-2' }}</span>
        </div>
        <div class="amount-item">
          <span><b>Total</b></span>
          <span><b>&#8377;{{ getTotal() | number: '.2-2' }}</b></span>
        </div>
        <div class="amount-item bb-1">
          <span>Received</span>
          <span>&#8377;0.00</span>
        </div>
        <div class="amount-item">
          <span>Balance</span>
          <span>&#8377;{{ getTotal() | number: '.2-2' }}</span>
        </div>
      </div>
    </div>
  </div>
</div>