<mat-list>
  <mat-list-item>
    <a routerLink="new-invoice" mat-stroked-button color="primary">
      New Invoice <mat-icon>add</mat-icon> 
    </a>
  </mat-list-item>
  <div mat-subheader>Active Invoices</div>
  <mat-list-item *ngIf="!activeInvoices.length">
    <p mat-line> There are no active invoices.</p>
  </mat-list-item>
  <mat-list-item *ngFor="let invoice of activeInvoices">
    <p mat-line (click)="editInvoice(invoice.id)"> {{ invoice.customer.name }} (#{{ invoice.customer.code }})</p>
    <p mat-line> {{ invoice.updatedAt | timeAgo }} </p> 
    <mat-divider></mat-divider>
  </mat-list-item>
  <div mat-subheader>Recently Completed</div>
  <mat-list-item>
    <p mat-line> There are no recent invoices.</p>
  </mat-list-item>
</mat-list>
<app-spinner *ngIf="showSpinner"></app-spinner>