<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="space-between" fxFlex="100">
    <a routerLink="/product/{{productId}}/view" mat-stroked-button>Back to product</a>
    <button type="button" mat-raised-button (click)="fileInput.click()" color="primary">Upload File</button>
    <input hidden (change)="onChange($event.target.files)" #fileInput type="file">
  </div>
  <br>
  <div fxLayout="column" *ngIf="product?.images">
    <mat-card class="product-image-card" *ngFor="let image of product.images">
      <img mat-card-image [src]="image.downloadURL">
      <mat-card-actions>
        <div fxLayoutAlign="space-between">
          <button mat-stroked-button color="warn" (click)="onDelete(image)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-stroked-button color="primary" *ngIf="!image.isShowcased" (click)="toggleShowcase(image)">
            <mat-icon>star_outline</mat-icon>
          </button>
          <button mat-stroked-button color="accent" *ngIf="image.isShowcased" (click)="toggleShowcase(image)">
            <mat-icon>star</mat-icon>
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<app-spinner *ngIf="showSpinner"></app-spinner>