/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  width: 100%;
  background-color: white;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// mat-drawer
.mat-drawer-content {
  background-color: white;
}

// mat-card
.mat-card-title {
  margin-bottom: 1em;
}

// Table
table {
  width: 100%;
}

// Radio Button
mat-radio-group {
  padding-bottom: 1.34375em;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

// expansion panel
.app-sidenav .mat-expansion-panel-body {
  padding: 0 !important;
}