<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="space-between" fxFlex="100">
    <div>
      <p class="mat-header-cell">Today's Total</p>
      <h3 *ngIf="!report" class="mat-display-3">&#8377; 0.00</h3>
      <h3 *ngIf="report" class="mat-display-3" (click)="gotoReport()">
        <span [class.income]="report.balance > 0" [class.expense]="report.balance <=0">
          &#8377; {{ report.balance | number: '.2-2' }}
        </span>
      </h3>
    </div>
    <button mat-mini-fab color="accent" [matMenuTriggerFor]="menu">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div>
    <p class="mat-header-cell">Active Invoices</p>
    <mat-list-item *ngIf="!activeInvoices.length">
      <p mat-line> There are no active invoices.</p>
    </mat-list-item>
    <mat-list-item *ngFor="let invoice of activeInvoices">
      <p mat-line (click)="editInvoice(invoice.id)"> {{ invoice.customer.name }} (#{{ invoice.customer.code }})</p>
      <p mat-line> {{ invoice.updatedAt | timeAgo }} </p>
      <mat-divider></mat-divider>
    </mat-list-item>
  </div>
</div>

<mat-menu #menu="matMenu">
  <a mat-menu-item routerLink="invoice/new-invoice">
    <mat-icon>receipt</mat-icon>
    <span>Invoice</span>
  </a>
  <a mat-menu-item routerLink="product/create">
    <mat-icon>shopping_cart</mat-icon>
    <span>Product</span>
  </a>
  <a mat-menu-item routerLink="/income/create">
    <mat-icon>paid</mat-icon>
    <span>Income</span>
  </a>
  <a mat-menu-item routerLink="/expense/create">
    <mat-icon>paid</mat-icon>
    <span>Expense</span>
  </a>
  <a mat-menu-item routerLink="/customer/create">
    <mat-icon>account_box</mat-icon>
    <span>Customer</span>
  </a>
</mat-menu>
<app-spinner *ngIf="showSpinner"></app-spinner>